@charset "utf-8";

/*=======アニメーション======*/

/*
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.splashbg{
    display: none;
}

body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: scaleX(0);
    background-color: #333;
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

#container{
	opacity: 0;
}

body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}    
*/
/*=======レイアウト======*/

body {
    background-color: #ccc;
}

main {
    position: fixed;
    top: 18%;
    left: 36%;
    width: 100%;
    max-height: auto;
}

.container {
    position: fixed;
    border-radius: 10px;
    z-index: 3;
    background: rgb(230, 230, 230);
    max-width: 900px;
    width: 600px;
    padding: 60px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

main {
    position: fixed;
    width: 100%;
    top: 30%;
    left: 43%;
}

form[name="search"] {
    position: fixed;
    left: 10%;
}

table {
    position: relative;
}

input[value="Next"],
input[value="Back"],
input[value="Edit"] {
    font-size: large;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background: transparent;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	border-radius: 3%;
	cursor: pointer;
}

input[value="Next"]:hover,
input[value="Back"]:hover,
input[value="Edit"]:hover{
	color: #fff;
	background-color: #333;
}

input[value="Next"],
input[value="Back"],
input[value="Edit"] {
    font-size: large;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background: transparent;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	border-radius: 3%;
	cursor: pointer;
}

input[value="Add new"] {
    font-size: large;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background: transparent;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	border-radius: 3%;
	cursor: pointer;
}

input[value="Add new"]:hover {
	color: #333;
	background-color: #fff;
}


input[value="Add new"] {
    position: fixed;  /*relative → fixed*/
}

input[name="search_word"] {
	height: 20px;
	background: transparent;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	border-radius: 3%;
}

input[name="search_word"]:hover {
	color: #fff;
	background-color: #333;
}

input[value="search"] {
	height: 27px;
	background-color: #333;
	color:#ccc;
	border-radius: 3%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
	cursor: pointer;
}

input[value="search"]:hover {
	background-color: #fff;
	color: #333;
}


form[name="search"] {
	position: fixed;
	top: 45%;
}

.search_result {
    position: fixed;
    top: 50%;
    left: 10%;
}

.title {
    position: relative;
    width: 100%;
    text-align: center;
}

.title p {
    font-size: large;
}

#header{
	background:rgba(55, 55, 55, 0.7);
	color:#fff;
	text-align: center;
	padding: 20px;
  }


